<div class="px-5">
        <h4>Operating System</h4>
        <p>The hosts are seperated into three column based on the Operating System.</p>
        <ul>
            <li class="m-2">
                <img src="{{ url_for('static', filename='img/windows.svg') }}" width="30" height="30">
                <span class="pl-2">Windows</span>
            </li>
            <li class="m-2">
                <img src="{{ url_for('static', filename='img/linux.svg') }}" width="30" height="30">
                <span class="pl-2">Linux</span>
            </li>
            <li class="m-2">
                <img src="{{ url_for('static', filename='img/cisco.svg') }}" width="30" height="30">
                <span class="pl-2">Cisco</span>
            </li>
        </ul>
        <h4>Purpose Icon</h4>
        <p>Each icon represent a host based on different purposes</p>
        <ul>
            <li class="m-2">
                <img src="{{ url_for('static', filename='img/authentication.svg') }}" width="20" height="20">
                <span class="pl-2">Authentication</span>
            </li>
            <li class="m-2">
                <img src="{{ url_for('static', filename='img/firewall.svg') }}" width="20" height="20">
                <span class="pl-2">Firewall</span>
            </li>
            <li class="m-2">
                <img src="{{ url_for('static', filename='img/database.svg') }}" width="20" height="20">
                <span class="pl-2">Database</span>
            </li>
            <li class="m-2">
                <img src="{{ url_for('static', filename='img/proxy.svg') }}" width="20" height="20">
                <span class="pl-2">Proxy</span>
            </li>
            <li class="m-2">
                <img src="{{ url_for('static', filename='img/router.svg') }}" width="20" height="20">
                <span class="pl-2">Router</span>
            </li>
        </ul>
        <h4>Filter</h4>
        <ul>
            <li>ip address</li>
            <li>service</li>
            <li>open port</li>
            <li>host name</li>
        </ul>
        <h4>View</h4>
        <h4>File</h4>
        <h4>Pluging</h4>
</div>