<nav id="sidebar">
    <div class="search-bar m-3 mb-4">
        <form class="form-inline my-2 my-lg-0 deactive-hide" id="rule-form">
            <input class="form-control mr-sm-2" type="search" placeholder="filter rules" style="width: 80%" name="rule"
                id="rule-input">
            <div class="btn btn-info my-2 my-sm-0" id="rule-submit-btn">Add</div>
        </form>
    </div>
    <div class="filter-rule">
        <div class="alert alert-dark m-3 alert-dismissible fade show" role="alert">
            ip.address = 192.168.0.0/16
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="alert alert-dark m-3 alert-dismissible fade show" role="alert">
            ip.address = 192.168.0.0/16
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="alert alert-dark m-3 alert-dismissible fade show" role="alert">
            ip.address = 192.168.0.0/16
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="alert alert-dark m-3 alert-dismissible fade show" role="alert">
            ip.address = 192.168.0.0/16
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="alert alert-dark m-3 alert-dismissible fade show" role="alert">
            ip.address = 192.168.0.0/16
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="alert alert-dark m-3 alert-dismissible fade show" role="alert">
            ip.address = 192.168.0.0/16
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="alert alert-dark m-3 alert-dismissible fade show" role="alert">
            ip.address = 192.168.0.0/16
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="alert alert-dark m-3 alert-dismissible fade show" role="alert">
            ip.address = 192.168.0.0/16
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</nav>

<script>
    $(document).ready(function () {

        $('#siderbar-toggler').on('click', function () {
            $('#sidebar').toggleClass('deactive');
        });

    });
</script>

<script>
    $(function () {
        $("#rule-submit-btn").click(function () {
            $.ajax({
                type: "POST",
                url: "/filter/add",
                data: $('#rule-form').serialize(),
                success: function () {
                    console.log("success");
                    location.reload();
                },
                error: function () {
                    console.log("failure");
                }
            });
        });
    });
</script>

<!-- <script>
    $('#rule-submit').on('click', function () {
        $.ajax({
            url: '/filter/add',
            type: 'post',
            data: $('#rule-form').serialize(),
            success: function () {
                alert("worked");
            }
        });
    });
</script> -->