{% block host_div %}

<div class="hostContainer" data-toggle="tooltip" data-html="true" data-placement="top"
  title="<div>ip: {{host.ip}} </div><div>ports: {{host.num_ports}}  opened</div>">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#a{{host.id}}exampleModalLong">
    <img class="hostPicture" src={{"/static/images/"+host.purpose+".svg"}}>
  </button>
</div>
{% endblock %}

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
});

function postComment(){
    var xhr = new XMLHttpRequest();
    var url = "/comment";
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    var data = JSON.stringify({
        "host_id": {{ host.id }},
        "comment": document.getElementById("a" + {{host.id}} + "message-text").value
    });
    xhr.send(data);
}
</script>

<!-- Modal -->
<div class="modal fade" id="a{{host.id}}exampleModalLong" tabindex="-1" role="dialog"
  aria-labelledby="{{host.id}}exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="a{{host.id}}exampleModalLongTitle">Host: {{host.id}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Static Text-->
      <div class="modal-body">
        <b> OS: </b> {{host.OS}} <br>
        <b> IP Address: </b> {{host.ip}} <br>
        <div class="port-list-div">
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Port #</th>
                <th scope="col">Service</th>
                <th scope="col">Info </th>
                <th scope="col">State</th>
              </tr>
            </thead>
            <tbody>
              {% for port in host.ports %}
              <tr>
                <th scope="row"> {{port[0]}} </th>
                <td> {{port[1]}} </td>
                <td> {{port[2]}} </td>
                <td> {{port[3]}} </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!--Text Box-->
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="Notes" class="col-form-label">Notes:</label>
            <textarea class="form-control" id="a{{host.id}}message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="postComment()" class="btn btn-primary" data-dismiss="modal"
          data-target="#a{{host.id}}exampleModalLong">Save changes</button>
      </div>
    </div>
  </div>
</div>
