{% block host_div %}

<div class="hostContainer" data-toggle="tooltip" data-html="true" data-placement="top" title="<div>ip: {{host.ip}} </div><div>ports: {{host.num_ports}}  opened</div>">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
          <img class="hostPicture" src={{"/static/images/"+host.purpose+".svg"}}>
        </button>
</div>
{% endblock %}

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <!--Static Text-->
              <div class="modal-body">
                Info we want to display.
              </div>
              <!--Text Box-->
              <div class="modal-body">
               <form>
                 <div class="form-group">
                   <label for="Notes" class="col-form-label">Notes:</label>
                   <textarea class="form-control" id="message-text"></textarea>
                 </div>
               </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
