<html>
  <head>
    <link rel="stylesheet" href="static/style.css">
  </head>
<body>
<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>Filter area</h2>
  </div>
  <div class="column">
    <img class="osPicture" src="/static/images/Microsoft-Logo.png" >
    <br/>

    {% for host in hosts %}
      {% if host.OS == "Windows" %}
	{% include 'host_template.html' %} 
      {% endif %}
    {% endfor %}
  </div>
  <div class="column">
    <img class="osPicture" src="/static/images/Linux-Logo.png" >
    <br/>
    {% for host in hosts %}
      {% if host.OS == "Linux" %}
	{% include 'host_template.html' %} 
      {% endif %}
    {% endfor %}
  </div>
  <div class="column">
    <img class="osPicture" src="/static/images/Cisco-Logo.png" >
    <br/>
    {% for host in hosts %}
      {% if host.OS == "Cisco" %}
	{% include 'host_template.html' %} 
      {% endif %}
    {% endfor %}

  </div>
</div>

</body>
</html>
